# Environment Mode
NODE_ENV=development
PORT=5000

# Database Configuration
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/guidoc

# Firebase Admin SDK Credentials
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-firebase-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour-Private-Key\n-----END PRIVATE KEY-----\n"

# API Keys
GEMINI_API_KEY=your-gemini-api-key

# Frontend URL (For CORS in production)
FRONTEND_URL=https://your-frontend-domain.vercel.app
